<h1>Formulario de alta</h1>
{{error}}
{{buenardo}}
<form action="/procesar_alta" method="post"> <!--una vez que el user carga los datos en /formulario: con esdta linea digo que por medio de Post va a enviar la informacion a /procesar_alra-->
    <label for="nombre">Nombre</label>
    <input type="text" name="nombre" id="nombre" value="">
    <br>
    <input type="checkbox" name="realizada" id="realizada" value="{{nombre}}"> 
    <label for="realizada">Realizada?</label>
    <br>
    <button type="submit">Guardar</button>
    <!--min 16 arranca
    2do explica relacionados
    -->
    


</form>
