{{error}}
<form method="post">
    <div class="form-control">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" value="{{datos.nombre}}">
    </div>
    <div class="form-control">
        <label for="apellido">Apellido</label>
        <input type="text" name="apellido" value="{{datos.apellido}}">
    </div>
    <button type="submit">Guardar</button>
</form>